@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  width: 100vw;
  height: 40px;

  background: #be3455;
}

.navbar2{
  width: 100vw;
  height: 40px;

  background: red;
}

.footer {
  width: 100vw;
  height: 40px;

  background: black;
}
